body{
      font-family : Verdana, Arial, sans-serif, Helvetica;
      color: #584619;
      background-color: #FFF4D9;
      scrollbar-face-color: #473508;
      scrollbar-highlight-color: #EEE3C8;
      scrollbar-shadow-color: #FFF4D9;
      scrollbar-3dlight-color: #cccccc;
      scrollbar-arrow-color: #EEE3C8;
      scrollbar-track-color: #FFF4D9;
      scrollbar-darkshadow-color: #8b794c;
      font-size: 10pt; 
	   }

table{ 
       border-color: #473508;
       border: 1px #473508;
       }

td{
    font-family : Verdana, Arial, sans-serif, Helvetica;
    font-size: 10pt; 
    }

th,.th,.th td, .th a, .th font{
    font-family : Verdana, Arial, sans-serif, Helvetica;
/*    background-image:url(http://www.hive.kiev.ua/img/line.jpg);*/
    background-image:url(http://www.hive.kiev.ua/img/bg_top.jpg);
    color: #000000;
    font-size: 10pt; 
    }
.th a, .th font{
    background-image:none;
}

hr{
    height: 0px; 
    border: solid #473508 0px; 
    border-top-width: 1px;
    }

.s{ 
    font-family : Verdana, Arial, sans-serif, Helvetica;
/*    background-image:url(http://www.hive.kiev.ua/img/line.jpg);*/
    background-color: #C9BC9A;
/*    color: #FFF4D9;*/
    }

.b{ 
    font-family : Verdana, Arial, sans-serif, Helvetica;
    background-color: #F3E8CC;
 }

a:hover {
          font-family : Verdana, Arial, sans-serif, Helvetica;
          text-decoration: underline; 
          color: #584619;
          }

a{
   font-family : Verdana, Arial, sans-serif, Helvetica;
   color : #473508;
   text-decoration : none;
   }

a.top{
        font-family : Verdana, Arial, sans-serif, Helvetica;
        font-size: 10pt; 
        color : #473508;
        text-decoration : none;
        }

blockquote{
	text-align: justify;
}

.btn {
       font-family : Verdana, Arial, sans-serif, Helvetica;
       font-size: 10pt; 
       background-color: #473508;
       color : #FFF4D9;
/*       background-image:url(http://www.hive.kiev.ua/img/line.jpg); 140205 */
       border: 1px solid #8b794c;
       }

.del {
       font-family : Verdana, Arial, sans-serif, Helvetica;
       font-size: 10pt; 
       color : #FFF4D9;
       background-image: none;
       background-color: darkred;
       border: 1px solid #7a683b;
       }

.tx {
      font-family : Verdana, Arial, sans-serif, Helvetica;
      font-size: 10pt; 
      background-color: #FFF4D9;
      color : #473508;
      border: 1px solid #7a683b;
      background-image:url(http://www.hive.kiev.ua/img/line.jpg);
      }

form{
	display: inline;
}

input {
        font-family : Verdana, Arial, sans-serif, Helvetica;
        font-size: 10pt; 
        background-color: #473508;
        color : #FFF4D9;
/*        background-image:url(http://www.hive.kiev.ua/img/line.jpg);*/
        }

select {
         font-family : Verdana, Arial, sans-serif, Helvetica;
         background-color : #FFF4D9;
         font : 11px Verdana, Geneva, Helvetica, Arial, sans-serif;
/*         margin-bottom : 5px;
         margin-top : 2px;*/
         color : #473508;
         background-image:url(http://www.hive.kiev.ua/img/line.jpg);
         }

textarea{
          font-family : Verdana, Arial, sans-serif, Helvetica;
          background-image:url(http://www.hive.kiev.ua/img/line.jpg);
          color: black;
          width:100%;
          }

.calendarHeader { 
                  font-family : Verdana, Arial, sans-serif, Helvetica;
                  background-color: #473508;
                  color: #FFF4D9;
                  background-image:url(http://www.hive.kiev.ua/img/bg_top.jpg);
                  font-size: 10pt; 
                  }

.calendarToday { 
                 font-family : Verdana, Arial, sans-serif, Helvetica;
                 background-color: #D5CCB5;
                 color : #473508;
                 border: 1px double #473508;
                 border-color: #473508;
                 font: bold;
                 font-weight: bold;
                 font-size: 10pt; 
                 }
.calendarExist { 
                 font-family : Verdana, Arial, sans-serif, Helvetica;
                 background-color: #2466ba;
                 text-decoration: underline; 
                 font-size: 10pt; 
                 }


.calendar { 
            font-family : Verdana, Arial, sans-serif, Helvetica;
            background-color: #FFF4D9;
            font-size: 10pt; 
            }

.warn{
background-color: #D5CCB5;
color : #473508;
}
